.auth-bg[_ngcontent-xvv-c46] {
    background-color: rgba(240, 248, 255, 0.801);
}

.pt-2 {
    padding-top: 0.5rem !important;
}

.p-3 {
    padding: 1rem !important;
}

.flex-column {
    flex-direction: column !important;
}

.min-vh-100 {
    min-height: 100vh !important;
    padding-bottom: 20px !important;
}

.d-flex {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 1140px;
}

.auth-logo {
    width: 200px;
}

.justify-content-start {
    justify-content: flex-start !important;
}

.flex-fill {
    flex: 1 1 auto !important;
}

.d-flex {
    display: flex !important;
}

.img-fluid {
    max-width: 74%;
    height: auto;
}

.auth-section[_ngcontent-xvv-c46] {
    padding: 24px;
}

.auth-section[_ngcontent-xvv-c46] {
    padding: 16px;
    border: solid 1px #b1b6bf;
    background-color: #fff;
    max-width: 380px;
}

.ms-auto {
    margin-left: auto !important;
}

.auth-section[_ngcontent-xvv-c46] .heading[_ngcontent-xvv-c46] {
    font-family: Roboto, sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
    font-style: normal;
    letter-spacing: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #3cb187;
}

.auth-section[_ngcontent-xvv-c46] .sub-heading[_ngcontent-xvv-c46] {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    font-style: normal;
    letter-spacing: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #425354;
}

.form-label {
    margin-bottom: 0.5rem;
}

label {
    display: inline-block;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

button {
    color: white;
    background-color: #3cb187;
    padding: 4%;
    font-size: larger;
    font-weight: 500;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


.sub-heading{
    font-family: Roboto,sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    font-style: normal;
    letter-spacing: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #425354;
    font-size: 16px;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}