.style {
   float: left;
}

button {
      width: 250px;
      height: 56px;
   cursor: not-allowed
}

.mt-5,
.my-5 {
   margin-top: 9rem !important;
}

.card-body {
   overflow: hidden;
   max-height: 584px;
}

mat-form-field {
   width: 90%;
}