.style {
   float: left;
}
.disabled-icon {
   opacity: 0.5; 
   pointer-events: none; 
 }

button {
   width: 234px;
   height: 56px;
   cursor: not-allowed
}

.mt-5,
.my-5 {
   margin-top: 9rem !important;
}

// .card-body {
//    overflow: hidden;
//    max-height: 584px;
// }

mat-form-field {
   width: 90%;
}

.submit{
   width: 100%;
}

.custom-submit-button {
   width: 90%;
   margin-left: 107%;

 }