<app-menu></app-menu>
<div class="go-back-section template-back add-inner-padding">
    <div class="back-icon">
        <!-- <mat-icon matTooltip="Back" (click)="goBack()">arrow_back</mat-icon> -->
        <h5 class="text-center">{{heading}} CAMPAIGN</h5>
    </div>
</div>

<div class="container-fluid h-100">

    <div class="row">
        <!-- <div class="col-sm-3">
            <app-navigation></app-navigation>
        </div> -->

        <div class="col-sm-12"><br><br>

            <div class="card bg-light text-dark">
                <div class="card-body">
                    <app-loader *ngIf="showLoader"></app-loader>
                    <form [formGroup]="campaignForm" (ngSubmit)="onSubmit()">

                        <div class="row" style="margin-left: 40px;">
                            <div class="col-sm-4">

                                <mat-form-field appearance="outline">
                                    <mat-label>Campaign Name</mat-label>
                                    <input matInput autocomplete="off" placeholder="Campaign name"
                                        formControlName="campaignName" maxlength="30"
                                        (blur)="onCampaignNameInputBlur();" />
                                    <mat-error *ngIf="campaignForm.get('campaignName').hasError('required')">Campaign
                                        name is required</mat-error>
                                    <mat-error
                                        *ngIf="campaignForm.get('campaignName').hasError('spacesNotAllowed')">Campaign
                                        name cannot be empty or contain only spaces</mat-error>
                                    <mat-error *ngIf="campaignForm.get('campaignName').hasError('pattern')">Campaign
                                        name can only contain letters, numbers, underscores, and dashes</mat-error>
                                    <mat-error
                                        *ngIf="campaignForm.get('campaignName').hasError('duplicateName')">Campaign name
                                        already exists</mat-error>
                                        <mat-icon matSuffix aria-hidden="true" container="body" [class.disabled-icon]="isCampaignNameDisabled">
                                            <span class="material-symbols-outlined" (mouseenter)="isHidden2 = !isHidden2" (mouseleave)="isHidden2 = !isHidden2">info</span>
                                          </mat-icon>
                                          
                                          
                                </mat-form-field>


                                <ng-container
                                    *ngIf="isHidden2 && !campaignForm.get('campaignName').hasError('duplicateName')">
                                    <div style="margin-top: -25px; font-size: small; color: red;  margin-left: 4px">
                                        No Special Characters allowed.
                                    </div>
                                </ng-container>
                            </div>

                            <div class="col-sm-4">
                                <mat-form-field appearance="outline">
                                    <mat-label>Description</mat-label>
                                    <input matInput autocomplete="off" maxlength="50" placeholder="Description"
                                        formControlName="description" required (blur)="onDescriptionBlur()" />
                                    <mat-icon matSuffix aria-hidden="true" container="body">
                                        <span (mouseenter)="isHidden = !isHidden" (mouseleave)="isHidden = !isHidden"
                                            class="material-symbols-outlined">
                                            info
                                        </span>
                                    </mat-icon>
                                    <mat-error *ngIf="isDescriptionInvalid()">Special characters are not allowed. Use
                                        underscores instead.</mat-error>
                                </mat-form-field>

                                <ng-container
                                    *ngIf="isHidden && !campaignForm.get('campaignName').hasError('duplicateName')">
                                    <div style="margin-top: -25px; font-size: small; color: red; margin-left: 4px;">
                                        Brief description about your campaign.
                                    </div>
                                </ng-container>
                            </div>


                            <div class="col-sm-4">
                                <ng-select [items]="allTemplateList" bindLabel="templateCode" [inputAttrs]="{maxlength: '20'}"
                                    placeholder="Template List" bindValue="id" [searchable]="true" [clearable]="false"
                                    appearance="outline"  formControlName="templateId" [inputAttrs]="{maxlength: '50'}" required>
                                </ng-select>
                            </div>

                        </div>


                        <div class="row mt-4" style="margin-left: 40px; ">
                           
                            <div class="col-sm-4"   *ngIf="username === 'dhanguru'">
                                <mat-form-field appearance="outline">
                                    <mat-label>Campaign Type</mat-label>
                                    <input matInput autocomplete="off" placeholder="Campaign Type"
                                        formControlName="campaignType" maxlength="100"
                                      required>
                                    <mat-error *ngIf="campaignForm.get('campaignType').hasError('required')">Campaign
                                        Type is required</mat-error>      
                                </mat-form-field>
                            </div>
                            <div class="col-sm-4"  *ngIf="username === 'dhanguru'">
                                <mat-form-field appearance="outline">
                                    <mat-label>Data Source Name</mat-label>
                                    <input matInput autocomplete="off" placeholder="Data Source Name"
                                        formControlName="dataSourceName" maxlength="100"
                                      required>
                                    <mat-error *ngIf="campaignForm.get('dataSourceName').hasError('required')">Data Source
                                        Name is required</mat-error>      
                                </mat-form-field>
                            </div>
                            <div class="col-sm-4">
                                <button class="btn btn-success submit" type="submit" id="smbtbtn"
                                        [disabled]="campaignForm.status === 'INVALID'"
                                        [ngClass]="{'custom-submit-button': !(username === 'dhanguru')}">
                                  {{ actionBtn }}
                                </button>
                              </div>
                          
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="body-spacing"></div>