<div class="container-fluid h-100">
    <form [formGroup]="templateForm">
        <div class="row">
            <!-- <div class="col-sm-3">
            <app-navigation></app-navigation>
        </div> -->

            <div class="col-sm-12 mx-auto spacing">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="go-back-section">
                            <mat-icon matTooltip="Back" (click)="goBack()">arrow_back</mat-icon>
                            <h5 class="text-center">Add Template</h5>
                        </div>
                        <hr>
                        <h4>Bot message type : <span>Transactional </span> <span
                                matTooltip="Notifications & information sent to existing customers of a business to provide relevant information for a customer’s existing services."><i
                                    class="fa fa-info-circle"></i></span></h4>
                        <p>As your bot is of type ‘Transactional’, please ensure that you create a template of the same
                            type. For details, hover on the ‘Info’ icon above.
                        </p>
                    </div>


                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <!-- <h5 class="text-center">VI RCS</h5> -->


                        <!-- <div class="card bg-light text-dark">
                    <div class="card-body">
                        <select class="form-control" name="clientnameSoip" id="clientnameSoip">
                            <option value="">Please select client name</option>
                            <option value="Fonada RCS">Fonada RCS</option>
                        </select>
                    </div>
                </div> -->


                        <div class="card bg-light text-dark">
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Template Name/Code* <i class="fa fa-info-circle"
                                            matTooltip="Give your message template a name e.g Account update, OTP, etc in 2-3 words"></i></label>
                                    <input type="text" formControlName="templateCode" class="form-control"
                                        autocomplete="off" required (input)="templateNameCharacterCount($event)">
                                    <small>{{ templateForm.get('templateCode').value.length }}/20 Characters
                                        used</small>
                                </div>



                                <div class="form-group">
                                    <label>Template Type* <i class="fa fa-info-circle"
                                            matTooltip="Choose what type of message template you want to create"></i></label>
                                    <select class="form-control" formControlName="templateType" (change)="addTab()">
                                        <option value="default" disabled>Select</option>
                                        <option value="rich_card">Rich Card Stand Alone</option>
                                        <option value="carousel">Rich Card Carousel</option>
                                        <option value="text_message">Text Message</option>
                                    </select>
                                </div>

                                <div id="rich-card-div" *ngIf="templateForm.get('templateType').value === 'rich_card'">
                                    <div class="form-group form-input">
                                        <label>Select Card Orientation* <i class="fa fa-info-circle"></i></label>
                                        <select class="form-control" name="cardOrientation"
                                            formControlName="cardOrientation">
                                            <option value="default" disabled="">Select</option>
                                            <option value="HORIZONTAL">HORIZONTAL</option>
                                            <option value="VERTICAL">VERTICAL</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>Select Media Height* <i class="fa fa-info-circle"></i></label>
                                        <select class="form-control height-44" name="cardHeight"
                                            formControlName="mediaHeight">
                                            <option value="default" disabled="">Select</option>
                                            <option value="SHORT_HEIGHT">SHORT</option>
                                            <option value="MEDIUM_HEIGHT">MEDIUM</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>Image/Video* <i class="fa fa-info-circle"
                                                matTooltip="The image you specify must be 3:1 aspect ratio, have a max file size of 2MB, have an optimal resolution of 1440 pixels x 480 pixels, and should be a JPEG, JPG, PNG, or GIF. If the image you select doesn’t meet these requirements, you’ll have the opportunity to edit it. If you are uploading a video, the max file size is 10MB."></i></label>
                                        <div class="input-group custom-file-button">
                                            <input type="file" class="form-control" accept="image/*, video/*"
                                                id="inputGroupFile" (change)="validateFile($event.target)"
                                                formControlName="fileName">
                                            <label class="input-group-text" for="inputGroupFile">Select</label>
                                        </div>
                                        <mat-error *ngIf="fileSizeError">{{ fileSizeErrorMessage }}</mat-error>
                                    </div>


                                    <div class="form-group">
                                        <label>Card Title*</label>
                                        <input type="text" formControlName="cardtitle" class="form-control"
                                            autocomplete="off" required (input)="cardTitleCharacterCount($event)">
                                        <div class="countAndVariable">
                                            <small>{{ templateForm.get('cardtitle').value.length }}/200 Characters
                                                used</small>
                                            <p (click)="addCustomVariable('cardtitle')">+ Add Variable</p>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Card Description*</label>
                                        <textarea formControlName="cardDescription" class="form-control" rows="3"
                                            required (input)="cardDescriptionCharacterCount($event)"></textarea>
                                        <div class="countAndVariable">
                                            <small>{{ templateForm.get('cardDescription').value.length }}/2000
                                                Characters used</small>
                                            <p (click)="addCustomVariable('cardDescription')">+ Add Variable</p>
                                        </div>
                                    </div>
                                </div>

                                <div id="carousel-div" *ngIf="templateForm.get('templateType').value === 'carousel'">
                                    <div class="tabSection">
                                        <button mat-mini-fab color="accent" (click)="addTab()" class="addTabs"
                                            [disabled]="this.cardDetails.value.length > 5">
                                            <mat-icon>add</mat-icon>
                                        </button>
                                        <mat-tab-group [selectedIndex]="">
                                            <mat-tab formArrayName="cardDetails"
                                                *ngFor="let item of templateForm.get('cardDetails')['controls']; let i = index;"
                                                label={{i}}>
                                                <div>
                                                    <div [formGroupName]="i">

                                                        <div class="form-group"><label>Select Card Width <i
                                                                    class="fa fa-info-circle"></i></label>
                                                            <select class="form-control" formControlName="cardWidth">
                                                                <option value="default" disabled="">Select</option>
                                                                <option value="SMALL_WIDTH">SMALL</option>
                                                                <option value="MEDIUM_WIDTH">MEDIUM</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group"><label>Select Media Height <i
                                                                    class="fa fa-info-circle"></i></label>
                                                            <select class="form-control" formControlName="mediaHeight">
                                                                <option value="default" disabled="">Select</option>
                                                                <option value="SHORT_HEIGHT">SHORT</option>
                                                                <option value="MEDIUM_HEIGHT">MEDIUM</option>
                                                            </select>
                                                        </div>

                                                        <div class="form-group">
                                                            <label>Image/Video* <i class="fa fa-info-circle"
                                                                    matTooltip="The image you specify must be 3:1 aspect ratio, have a max file size of 2MB, have an optimal resolution of 1440 pixels x 480 pixels, and should be a JPEG, JPG, PNG, or GIF. If the image you select doesn’t meet these requirements, you’ll have the opportunity to edit it. If you are uploading a video, the max file size is 10MB."></i></label>
                                                            <div class="input-group custom-file-button">
                                                                <input type="file" class="form-control"
                                                                    accept="image/*, video/*" id="inputGroupFile"
                                                                    (change)="validateFileCr($event.target, i)"
                                                                    formControlName="fileName">
                                                                <label class="input-group-text"
                                                                    for="inputGroupFile">Select</label>
                                                            </div>
                                                            <mat-error *ngIf="fileSizeError">{{ fileSizeErrorMessage
                                                                }}</mat-error>
                                                        </div>


                                                        <div class="form-group">
                                                            <label>Card Title*</label>
                                                            <input type="text" formControlName="cardtitle"
                                                                class="form-control" autocomplete="off" required
                                                                (input)="cardTitleCharacterCount($event)">
                                                            <div class="countAndVariable">
                                                                <small>{{ templateForm.get('cardtitle').value.length
                                                                    }}/200
                                                                    Characters
                                                                    used</small>
                                                                <p (click)="addCustomVariable('cardtitle')">+ Add
                                                                    Variable</p>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Card Description*</label>
                                                            <textarea formControlName="cardDescription"
                                                                class="form-control" rows="3" required
                                                                (input)="cardDescriptionCharacterCount($event)"></textarea>
                                                            <div class="countAndVariable">
                                                                <small>{{
                                                                    templateForm.get('cardDescription').value.length
                                                                    }}/2000
                                                                    Characters used</small>
                                                                <p (click)="addCustomVariable('cardDescription')">+ Add
                                                                    Variable</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </mat-tab>
                                        </mat-tab-group>

                                    </div>
                                    <br>



                                </div>

                                <div id="text-message-div"
                                    *ngIf="templateForm.get('templateType').value === 'text_message'">
                                    <div class="form-group">
                                        <label>Message Content <i class="fa fa-info-circle"></i></label>
                                        <textarea class="form-control" formControlName="messageContent" rows="3"
                                            required (input)="messageContentCharacterCount($event)"></textarea>
                                        <div class="countAndVariable">
                                            <small>{{ templateForm.get('messageContent').value.length }}/2500 Characters
                                                used</small>
                                            <p (click)="addCustomVariable('messageContent')">+ Add Variable</p>
                                        </div>
                                    </div>
                                </div>








                                <!-- <div class="card m-b-xs">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <input type="text" formControlName="actionButton1Title" class="form-control"
                                                placeholder="Action Button 1 Title" name="ActionButton1Title"
                                                id="ActionButton1Title" autocomplete="off">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" formControlName="actionButton1URL" class="form-control"
                                                placeholder="Action Button 1 URL" name="ActionButton1URL"
                                                id="ActionButton1URL" autocomplete="off">
                                        </div>
                                    </div>
                                </div>

                                <div class="card m-b-xs">
                                    <div class="card-body">
                                        <div class="form-group">

                                            <input type="text" formControlName="actionButton2Title" class="form-control"
                                                placeholder="Action Button 2 Title" name="ActionButton2Title"
                                                id="ActionButton2Title" autocomplete="off">
                                        </div>

                                        <div class="form-group">

                                            <input type="text" formControlName="actionButton2URL" class="form-control"
                                                placeholder="Action Button 2 URL" name="ActionButton2URL"
                                                id="ActionButton2URL" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                                <div class="card m-b-xs">
                                    <div class="card-body">
                                        <div class="form-group">

                                            <input type="text" formControlName="actionButton3Title" class="form-control"
                                                placeholder="Action Button 3 Title" name="ActionButton3Title"
                                                id="ActionButton3Title" autocomplete="off">
                                        </div>

                                        <div class="form-group">

                                            <input type="text" formControlName="actionButton3URL" class="form-control"
                                                placeholder="Action Button 3 URL" name="ActionButton3URL"
                                                id="ActionButton3URL" autocomplete="off">
                                        </div>
                                    </div>
                                </div> -->


                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6">

                        <div class="card bg-light text-dark">
                            <div class="card-body">
                                <mat-tab-group>
                                    <mat-tab label="Conversation">
                                        <div class="devicePreview">
                                            <div class="contents">
                                                <div class="headingSection">
                                                    <div><i class="fa fa-arrow-left"></i>&nbsp; Fonada</div>
                                                    <div>
                                                        <i class="fa fa-shield"></i>&nbsp;
                                                        <i class="fa fa-ellipsis-v"></i>
                                                    </div>
                                                </div>
                                                <div id="rich-card-div" class="rich-card-section"
                                                    [ngClass]="{'vertical':(templateForm.get('cardOrientation').value === 'VERTICAL'), 'horizontal': (templateForm.get('cardOrientation').value === 'HORIZONTAL'), 'shortHeight':(templateForm.get('mediaHeight').value === 'SHORT_HEIGHT'), 'mediumHeight':(templateForm.get('mediaHeight').value === 'MEDIUM_HEIGHT')}"
                                                    *ngIf="(templateForm.get('templateType').value === 'rich_card')">
                                                    <img [src]="fileName" alt="File preview" *ngIf="fileName">
                                                    <h5>{{ templateForm.get('cardtitle').value }}</h5>
                                                    <p class="messageContent">{{
                                                        templateForm.get('cardDescription').value
                                                        }}
                                                    </p>
                                                    <a href=""><i class="fa fa-globe"></i> Suggestion Text</a>
                                                </div>
                                                <div id="carousel-div"
                                                    *ngIf="templateForm.get('templateType').value === 'carousel'">
                                                    <div id="myCarousel" class="carousel slide" data-ride="carousel">

                                                        <!-- Slides -->
                                                        <div class="carousel-inner">
                                                            <div formArrayName="cardDetails" class="carousel-item"
                                                                *ngFor="let item of templateForm.get('cardDetails')['controls']; let i = index;"
                                                                [ngClass]="(i === 0) ? 'active' : ''">
                                                                <div [formGroupName]="i">
                                                                    <img [src]="item.get('fileName').value" alt="File preview" *ngIf="item.get('fileName').value">
                                                                    <h5>{{templateForm.get('cardDetails').value[i]['cardtitle']}}
                                                                    </h5>
                                                                    <p class="messageContent">
                                                                        {{templateForm.get('cardDetails').value[i]['cardDescription']}}
                                                                    </p>
                                                                    <a href=""><i class="fa fa-globe"></i> Suggestion Text</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Left and right controls -->
                                                        <a class="carousel-control-prev" href="#myCarousel"
                                                            data-slide="prev">
                                                            <i class="fa fa-chevron-left"></i>
                                                        </a>
                                                        <a class="carousel-control-next" href="#myCarousel"
                                                            data-slide="next">
                                                            <i class="fa fa-chevron-right"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div id="text-message-div" class="rich-card-section"
                                                    *ngIf="templateForm.get('templateType').value === 'text_message'">
                                                    <p class="messageContent">{{
                                                        templateForm.get('messageContent').value
                                                        }}
                                                    </p>
                                                    <a href=""><i class="fa fa-globe"></i> Suggestion Text</a>
                                                </div>
                                            </div>
                                        </div>

                                    </mat-tab>
                                    <mat-tab label="Business Info">
                                        <div class="devicePreview">
                                            <div class="contents">
                                                <div class="headingSection">
                                                    <div><i class="fa fa-arrow-left"></i>&nbsp; Fonada</div>
                                                    <div>
                                                        <i class="fa fa-shield"></i>&nbsp;
                                                        <i class="fa fa-ellipsis-v"></i>
                                                    </div>
                                                </div>
                                                <div class="profile-section">
                                                    <img src="../../../assets/logo.svg">
                                                    <div class="description-row">
                                                        <h5>Fonada</h5>
                                                        <p>At Fonada, we understand that each organization is unique, as
                                                            well as its challenges.</p>
                                                    </div>
                                                </div>

                                                <div class="action-row">
                                                    <a href="tel:+919313571554">
                                                        <div class="call">
                                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                                            <p>Call</p>
                                                        </div>
                                                    </a><a href="https://fonada.com" target="_blank">
                                                        <div class="website"><i class="fa fa-globe"
                                                                aria-hidden="true"></i>
                                                            <p>Website</p>
                                                        </div>
                                                    </a><a href="mailto:info@fonada.com">
                                                        <div class="email"><i class="fa fa-envelope"
                                                                aria-hidden="true"></i>
                                                            <p>Email</p>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="tab-section-row">
                                                    <mat-tab-group>
                                                        <mat-tab label="Info">
                                                            <div class="contact-details">
                                                                <a class="email" href="tel:+919313571554">
                                                                    <i class="fa fa-phone"></i>
                                                                    <div class="call-details">
                                                                        <p>+919313571554</p>
                                                                        <span>ravindra 93</span>
                                                                    </div>
                                                                </a>
                                                                <a class="email" href="https://fonada.com"
                                                                    target="__blank"><i class="fa fa-globe"
                                                                        aria-hidden="true"></i>
                                                                    <div class="call-details">
                                                                        <p>https://fonada.com</p>
                                                                        <span>fonada website</span>
                                                                    </div>
                                                                </a>
                                                                <a class="email" href="mailto:info@fonada.com">
                                                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                                                    <div class="call-details bdr-bt-none-template">
                                                                        <p>info@fonada.com</p>
                                                                        <span>infi email</span>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </mat-tab>
                                                        <mat-tab label="Options">
                                                            <ul class="option-details">
                                                                <li>Notification</li>
                                                                <li>Block & report spam</li>
                                                                <li>View Privacy Policy</li>
                                                                <li>View Terms of Services</li>
                                                                <li>Learn more</li>
                                                            </ul>
                                                        </mat-tab>
                                                    </mat-tab-group>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-tab>
                                </mat-tab-group>


                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="row spacing">
            <div class="col-sm-7">
                <h3>Suggested Actions/Reply Buttons <i class="fa fa-info-circle"></i></h3>
            </div>
            <div class="col-sm-5">
                <button type="button" class="btn btn-secondary pull-right" (click)="addRow()">+ Add Suggestion</button>
            </div>
        </div>
        <hr>
        <div class="alert alert-secondary text-center" role="alert" *ngIf="templateForm.value['items'].length == 0">
            <h4>There are no suggested actions yet.</h4>
        </div>

        <div class="suggestion-container" formArrayName="items"
            *ngFor="let item of templateForm.get('items')['controls']; let i = index;">
            <div [formGroupName]="i">
                <div class="card bg-light text-dark">
                    <div class="card-body">
                        <div class="addSuggestionSection">
                            <div class="form-group">
                                <label>Type of Action</label>
                                <select class="form-control" formControlName="suggestionType">
                                    <option value="reply">Reply</option>
                                    <option value="url_action">URL Action</option>
                                    <option value="dialer_action">Dialer Action</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Suggestion Text</label>
                                <input type="text" class="form-control" formControlName="displayText">
                                <div class="countAndVariable">
                                    <small class="text-light-gray">0/25 characters used</small>
                                    <p (click)="addCustomVariable('displayText')">+ Add Variable</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Suggestion Postback</label>
                                <input type="text" class="form-control" formControlName="postback">
                                <div class="countAndVariable">
                                    <small class="text-light-gray">0/120 characters used</small>
                                    <p (click)="addCustomVariable('postback')">+ Add Variable</p>
                                </div>
                            </div>
                            <div class="form-group form-input"
                                *ngIf="templateForm.get('items').value[i]['suggestionType'] === 'url_action'">
                                <label>URL/URI to open</label>
                                <input type="text" class="form-control" maxlength="2048" formControlName="url">
                                <small class="text-light-gray">0/2048 characters used</small>
                                <p>+ Add Variable</p>
                            </div>

                            <div class="form-group form-input"
                                *ngIf="templateForm.get('items').value[i]['suggestionType'] === 'dialer_action'">
                                <label>Phone Number to Dial</label>
                                <input type="text" class="form-control" maxlength="10" formControlName="phoneNumber">
                            </div>

                            <div>
                                <div class="add-remove-section">
                                    <!-- <button mat-mini-fab color="primary">
                                    <mat-icon>add</mat-icon>
                                </button> -->
                                    <button mat-mini-fab color="warn" (click)="removeRow(i)">
                                        <mat-icon>remove</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <br>
        <div class="text-center">
            <button type="button" class="btn btn-outline-secondary">Cancel</button>&nbsp;
            <button type="submit" id="smbtbtn" class="btn btn-success" (click)="onSubmit()">Submit</button>
        </div>

        <!-- Modal -->
        <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">SMS Preview</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div *ngIf="filePreview" class="devicePreview">
                        <div class="contents">
                            <img [src]="filePreview" alt="File preview">
                            <h5>{{ titleinsms }}</h5>
                            <p class="messageContent">{{ messagecontent }}</p>
                            <a *ngIf="actionButton1Title" href="{{actionButton1URL}}"
                                class="btn btn-outline-primary btn-block">{{
                                actionButton1Title }}</a>
                            <a *ngIf="actionButton2Title" href="{{actionButton2URL}}"
                                class="btn btn-outline-primary btn-block">{{
                                actionButton2Title }}</a>
                            <a *ngIf="actionButton3Title" href="{{actionButton3URL}}"
                                class="btn btn-outline-primary btn-block">{{
                                actionButton3Title }}</a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div> -->
    </form>
</div>