.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}


.devicePreview {
    background-image: url(http://fuat.flash49.com/rcspanel/assets/iphone.png);
    background-size: cover;
    max-width: 349px;
    height: 680px;
    position: relative;

    .contents {
        width: 294px;
        max-height: 590px;
        margin: 51px 28px;
        position: absolute;
        padding: 0px;
        border-radius: 40px;
        overflow-y: auto;

        .h5,
        h5 {
            font-size: 1rem !important;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            margin-bottom: 5px;
        }

        p {
            line-height: 1.2;
        }

        img {
            width: 70%;
            max-height: 100px;
            text-align: center;
            margin: 5px;
            // border: 1px solid #ddd;
            // padding: 10px;
            // margin-bottom: 15px;
            // border-radius: 6px;
            // box-shadow: 5px 5px #f5f5f5;
        }

        .messageContent {
            font-size: 12px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            // background: #f5f5f5;
            // padding: 8px 8px 8px 16px;
            // border-radius: 10px;
            // border-top-left-radius: 0;
        }

        button {
            margin-bottom: 10px;
            border-radius: 50px;
        }

        .headingSection {
            display: flex;
            justify-content: space-between;
            background-color: #ffffff;
            padding: 10px;
            border-bottom: 1px solid #ddd;
              


            i {
                color: #333;
                font-size: 16px;
            }
        }

        .rich-card-section {
            margin: 20px;
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 15px;
            border-radius: 6px;
            box-shadow: 5px 5px #f5f5f5;
            text-align: center;
        }

        .carousel-inner {
            padding: 20px;
        }

        .carousel-item {
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 15px;
            border-radius: 6px;
            box-shadow: 5px 5px #f5f5f5;
            min-height: 100px;
            text-align: center;
        }
    }
}

.custom-file-button {
    input[type="file"] {
        margin-left: -2px !important;

        &::-webkit-file-upload-button {
            display: none;
        }

        &::file-selector-button {
            display: none;
        }
    }

    &:hover {
        label {
            background-color: #dde0e3;
            cursor: pointer;
        }
    }
}

.input-group-text {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.modal-body {
    padding-left: 4.7em;
}

// VI_RCS_COMPONENT


.card.bg-light.text-dark.top-spacing {
    margin-top: 70px;
}

.h3,
h3 {
    font-size: 1.7rem;
    margin-bottom: 0;
}

.addSuggestionSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addSuggestionSection {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    div {
        width: 100%;
        margin: 0 15px;

        &:last-child {
            width: 30%;
        }
    }

    .add-remove-section {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        button {
            position: relative;
            top: 40px;
        }

        button:first-child {
            margin-right: 10px;
        }
    }
}

::ng-deep {
    .mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs>.mat-mdc-tab-header .mat-mdc-tab {
        border: 1px solid #aaa !important;
        border-top-left-radius: 6px !important;
        border-top-right-radius: 6px !important;
    }

    .mat-mdc-tab-header {
        width: 90% !important;
    }

    .mat-mdc-tab-body-content {
        padding: 10px 0;
    }
}

.tabSection {
    position: relative;
}

button.addTabs.mdc-fab.mdc-fab--mini.mat-mdc-mini-fab.mat-accent.mat-mdc-button-base {
    position: absolute;
    right: 10px;
}

.countAndVariable {
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px !important;

    small.text-light-gray,
    p {
        width: 100%;
        padding: 2px;
    }

    small {
        width: 100% !important;
    }

    p {
        margin-bottom: 0;
        text-align: right;
        cursor: pointer;
    }
}

.suggestion-container {
    margin-bottom: 20px;
}


.profile-section {
    padding: 10px;
    text-align: center;

    .description-row {
        padding: 20px 0;
    }
}

.action-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 30px;

    a div i,
    a div p {
        color: rgb(32, 126, 103);
    }

    a:hover {
        text-decoration: none;
    }
}

.tab-section-row {
    padding-left: 32px;
    margin-top: 10px;

    .mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs>.mat-mdc-tab-header .mat-mdc-tab {
        border: none !important;
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
    }

    .mat-mdc-tab.mdc-tab {
        height: 40px !important;
    }

    a.email {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #ddd;
        margin-bottom: 12px;
        margin-right:25px;
        i{
            font-size: 16px;
            margin-right: 15px;
        }

    }
    a.email:hover{
        text-decoration: none;
    }
    a.email:last-child{
        border-bottom: 0;
    }

.contact-details{
    padding:10px 0px 0;
}
.call-details{
    p{
        margin-bottom: 0;
        color: rgb(60, 64, 67);
    }
    span{
        color: #aaa;
    }
}
ul.option-details {
    margin: 0;
    padding: 0;
    margin-right: 24px;

    li{
        border-bottom: 1px solid #ddd;
        line-height: 3;
        cursor: pointer;
        &:last-child{
            border-bottom: 0;
        }
    }
}
}

a.action-icon {
color: #007bff;
i{
    color: #007bff;
}
}

:ng-deep .mat-mdc-tab-body-content {
    position: relative; 

    i{
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        color: #f60;
    }
}

.requireField{
    color: #f60;
    margin-right: 4px;
}
.input-group{
    margin-bottom: 4px;
}

.variableName{
    font-weight: bold;
}
.variableName::before {
    content: '{';
    margin-left: 2px;
  }
.variableName::after {
    content: '}';
    margin-right: 2px;
  }
  

  .removeButtonRow{
    text-align: right;
    position: relative;
    right: 10px;

  }
 