<div class="go-back-section template-back add-inner-padding">
    <div class="back-icon">
        <!-- <mat-icon matTooltip="Back" (click)="goBack()">arrow_back</mat-icon> -->
        <h5 class="text-center">ADD TEMPLATE</h5>
    </div>

</div>
<div class="container-fluid h-100">
    <form [formGroup]="templateForm">
        <div class="row">
            <div class="col-sm-12 mx-auto spacing">
                <div class="row">
                    <div class="col-sm-12">

                        <!-- <h4>Bot message type : <span>Transactional </span> <span
                                matTooltip="Notifications & information sent to existing customers of a business to provide relevant information for a customer’s existing services."><i
                                    class="fa fa-info-circle"></i></span></h4>
                        <p>As your bot is of type ‘Transactional’, please ensure that you create a template of the same
                            type. For details, hover on the ‘Info’ icon above.
                        </p> -->
                    </div>


                </div>

                <div class="row">
                    <div class="col-sm-7">

                        <div class="card bg-light text-dark">
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Template Name<span class="requireField">*</span> <i class="fa fa-info-circle"
                                            matTooltip="Give your message template a name e.g Account update, OTP, etc in 2-3 words"></i></label>
                                    <input type="text" formControlName="templateCode" class="form-control"
                                        autocomplete="off" (input)="templateNameCharacterCount($event)" required>
                                    <small>{{ templateForm.get('templateCode').value.length }}/20 Characters
                                        used</small>
                                    <div *ngIf="templateCodeVal && templateForm.get('templateCode').invalid"
                                        class="text-danger">
                                        Template Name is required.
                                    </div>
                                </div>



                                <div class="form-group">
                                    <label>Template Type<span class="requireField">*</span> <i class="fa fa-info-circle"
                                            matTooltip="Choose what type of message template you want to create"></i></label>
                                    <select class="form-control" formControlName="templateType" (change)="addTab()">
                                        <option *ngFor="let item of templateTypeValue" [value]="item.key">{{item.value}}
                                        </option>
                                    </select>
                                    <div *ngIf="templateCodeVal && templateForm.get('templateType').invalid"
                                        class="text-danger">
                                        Template Type is required.
                                    </div>
                                </div>
                                <!-- Rich Card Stand Alone -->
                                <div id="rich-card-div" *ngIf="templateForm.get('templateType').value === 'rich_card'">
                                    <div class="form-group form-input">
                                        <label>Select Card Orientation<span class="requireField">*</span> <i
                                                class="fa fa-info-circle"></i></label>
                                        <select class="form-control" name="cardOrientation"
                                            formControlName="cardOrientation">
                                            <option *ngFor="let item of cardOrientationValue" [value]="item.key">
                                                {{item.value}}</option>
                                        </select>
                                        <div *ngIf="templateCodeVal && templateForm.get('cardOrientation').invalid"
                                            class="text-danger">
                                            Card Orientation is required.
                                        </div>
                                    </div>

                                    <div class="form-group" *ngIf="templateForm.get('cardOrientation').value === 'VERTICAL'">
                                        <label>Select Media Height<span class="requireField">*</span> <i
                                                class="fa fa-info-circle"></i></label>
                                        <select class="form-control height-44" name="cardHeight"
                                            formControlName="mediaHeight">
                                            <option *ngFor="let item of cardHeightValue" [value]="item.key">
                                                {{item.value}}</option>
                                        </select>
                                        <div *ngIf="templateCodeVal && templateForm.get('mediaHeight').invalid"
                                            class="text-danger">
                                            Media Height is required.
                                        </div>
                                    </div>

                                    <div class="form-group" *ngIf="templateForm.get('cardOrientation').value === 'HORIZONTAL'">
                                        <label>Select Card Alignment<span class="requireField">*</span> <i
                                                class="fa fa-info-circle"></i></label>
                                        <select class="form-control height-44" name="cardAlignment"
                                            formControlName="cardAlignment">
                                            <option *ngFor="let item of cardAlignmentValue" [value]="item.key">
                                                {{item.value}}</option>
                                        </select>
                                        <div *ngIf="templateCodeVal && templateForm.get('cardAlignment').invalid"
                                            class="text-danger">
                                            Card Alignment is required.
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Image<span class="requireField">*</span> <i class="fa fa-info-circle"
                                                matTooltip="The image you specify must be 3:1 aspect ratio, have a max file size of 2MB, have an optimal resolution of 1440 pixels x 480 pixels, and should be a JPEG, JPG, PNG, or GIF. If the image you select doesn’t meet these requirements, you’ll have the opportunity to edit it. If you are uploading a video, the max file size is 10MB."></i></label>
                                        <div class="input-group custom-file-button">
                                            <input type="file" class="form-control" accept="image/, video*"
                                                id="inputGroupFile" (change)="validateFile($event.target)"
                                                formControlName="fileName">
                                            <label class="input-group-text" for="inputGroupFile">Select</label>
                                        </div>
                                        <mat-error *ngIf="fileSizeError">{{ fileSizeErrorMessage }}</mat-error>
                                        <div *ngIf="templateCodeVal && templateForm.get('fileName').invalid"
                                            class="text-danger">
                                            Image is required.
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label>Card Title<span class="requireField">*</span> </label>
                                        <input type="text" formControlName="cardtitle" class="form-control"
                                            autocomplete="off" (input)="cardTitleCharacterCount($event)"
                                            (keyup)="displayVariables($event, 'cardTitleCustomParam', 1)">
                                        <div class="countAndVariable">
                                            <small>{{ templateForm.get('cardtitle').value.length }}/200 Characters
                                                used</small>
                                            <small>Add your custom variable like this <span
                                                    class="variableName">variableName</span>.</small>
                                            <!-- <p (click)="addCustomVariable('cardtitle')">+ Add Variable</p> -->
                                        </div>
                                        <div *ngIf="templateCodeVal && templateForm.get('cardtitle').invalid"
                                            class="text-danger">
                                            Card Title is required.
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label>Card Description<span class="requireField">*</span> </label>
                                        <textarea formControlName="cardDescription" class="form-control" rows="3"
                                            (input)="cardDescriptionCharacterCount($event)"
                                            (keyup)="displayVariables($event, 'cardDescriptionCustomParam', 1)"></textarea>
                                        <div class="countAndVariable">
                                            <small>{{ templateForm.get('cardDescription').value.length }}/2000
                                                Characters used</small>
                                            <small>Add your custom variable like this <span
                                                    class="variableName">variableName</span>.</small>
                                            <!-- <p (click)="addCustomVariable('cardDescription')">+ Add Variable</p> -->
                                        </div>
                                        <div *ngIf="templateCodeVal && templateForm.get('cardDescription').invalid"
                                            class="text-danger">
                                            Card Description is required.
                                        </div>
                                    </div>
                                </div>

                                <div id="carousel-div" *ngIf="templateForm.get('templateType').value === 'carousel'">
                                    <div class="tabSection">
                                        <button mat-mini-fab color="accent" (click)="addTab()" class="addTabs"
                                            [disabled]="this.cardDetails.value.length > 5">
                                            <mat-icon>add</mat-icon>
                                        </button>
                                        <mat-tab-group [selectedIndex]="" class="form-tab-section">
                                            <mat-tab formArrayName="cardDetails" class="cardRowSection"
                                                *ngFor="let item of templateForm.get('cardDetails')['controls']; let i = index;"
                                                label={{getName(i+1)}}>
                                                <div class="removeButtonRow">
                                                    <button mat-mini-fab color="warn" (click)="removeTab(i)"
                                                        [disabled]="this.cardDetails.length <= 1">
                                                        <mat-icon>remove</mat-icon>
                                                    </button>
                                                </div>
                                                <div>
                                                    <div [formGroupName]="i">

                                                        <div class="form-group"><label>Select Card Width <i
                                                                    class="fa fa-info-circle"></i></label>
                                                            <select class="form-control" formControlName="cardWidth">
                                                                <option *ngFor="let item of cardWidthValue"
                                                                    [value]="item.key">{{item.value}}</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group"><label>Select Media Height <i
                                                                    class="fa fa-info-circle"></i></label>
                                                            <select class="form-control" formControlName="mediaHeight">
                                                                <option *ngFor="let item of cardHeightValue"
                                                                    [value]="item.key">{{item.value}}</option>
                                                            </select>
                                                        </div>

                                                        <div class="form-group">
                                                            <label>Image* <i class="fa fa-info-circle"
                                                                    matTooltip="The image you specify must be 3:1 aspect ratio, have a max file size of 2MB, have an optimal resolution of 1440 pixels x 480 pixels, and should be a JPEG, JPG, PNG, or GIF. If the image you select doesn’t meet these requirements, you’ll have the opportunity to edit it. If you are uploading a video, the max file size is 10MB."></i></label>
                                                            <div class="input-group custom-file-button">
                                                                <input type="file" class="form-control" accept="image/*"
                                                                    id="inputGroupFile"
                                                                    (change)="validateFileCr($event.target, i)">
                                                                <label class="input-group-text"
                                                                    for="inputGroupFile">Select</label>
                                                            </div>
                                                            <mat-error *ngIf="fileSizeError">{{ fileSizeErrorMessage
                                                                }}</mat-error>
                                                        </div>


                                                        <div class="form-group">
                                                            <label>Card Title*</label>
                                                            <input type="text" formControlName="cardtitle"
                                                                class="form-control" autocomplete="off"
                                                                (input)="cardTitleCharacterCount($event)"
                                                                (keyup)="displayVariables($event, 'cardTitleCustomParam', 2, i)"
                                                                required>
                                                            <div class="countAndVariable">
                                                                <small>{{ templateForm.get('cardtitle').value.length
                                                                    }}/200 Characters used</small>
                                                                <small>Add your custom variable like this <span
                                                                        class="variableName">variableName</span>.</small>
                                                            </div>
                                                            <div *ngIf="templateCodeVal && templateForm.get('cardtitle').invalid"
                                                                class="text-danger">
                                                                Card Title is required.
                                                            </div>
                                                        </div>


                                                        <div class="form-group">
                                                            <label>Card Description*</label>
                                                            <textarea formControlName="cardDescription"
                                                                class="form-control" rows="3"
                                                                (input)="cardDescriptionCharacterCount($event)"
                                                                (keyup)="displayVariables($event, 'cardDescriptionCustomParam', 2, i)"></textarea>
                                                            <div class="countAndVariable">
                                                                <small>{{
                                                                    templateForm.get('cardDescription').value.length
                                                                    }}/2000
                                                                    Characters used</small>
                                                                <small>Add your custom variable like this <span
                                                                        class="variableName">variableName</span>.</small>
                                                            </div>
                                                            <div *ngIf="templateCodeVal && templateForm.get('cardDescription').invalid"
                                                                class="text-danger">
                                                                Card Description is required.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </mat-tab>
                                        </mat-tab-group>

                                    </div>
                                    <br>



                                </div>

                                <div id="text-message-div"
                                    *ngIf="templateForm.get('templateType').value === 'text_message'">
                                    <div class="form-group">
                                        <label>Message Content <i class="fa fa-info-circle"></i></label>
                                        <textarea class="form-control" formControlName="messageContent" rows="3"
                                            (input)="messageContentCharacterCount($event)"
                                            (keyup)="displayVariables($event, 'messageContentCustomParam', 1)"
                                            required></textarea>
                                        <div class="countAndVariable">
                                            <small>{{ templateForm.get('messageContent').value.length }}/2500 Characters
                                                used</small>
                                            <small>Add your custom variable like this <span
                                                    class="variableName">variableName</span>.</small>
                                        </div>
                                        <div *ngIf="templateCodeVal && templateForm.get('messageContent').invalid"
                                            class="text-danger">
                                            Message Content is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-5">

                        <div class="card bg-light text-dark">
                            <div class="card-body">
                                <mat-tab-group>
                                    <mat-tab label="Conversation">
                                        <div class="deviceSection">
                                            <div class="devicePreview">
                                                <div class="contents">
                                                    <div class="headingSection">
                                                        <div><i class="fa fa-arrow-left"></i>&nbsp; Fonada</div>
                                                        <div>
                                                            <i class="fa fa-shield"></i>&nbsp;
                                                            <i class="fa fa-ellipsis-v"></i>
                                                        </div>
                                                    </div>
                                                    <div id="rich-card-div" class="rich-card-section"
                                                        [ngClass]="{'vertical':(templateForm.get('cardOrientation').value === 'VERTICAL'), 'horizontal': (templateForm.get('cardOrientation').value === 'HORIZONTAL'), 'shortHeight':(templateForm.get('mediaHeight').value === 'SHORT_HEIGHT'), 'mediumHeight':(templateForm.get('mediaHeight').value === 'MEDIUM_HEIGHT'), 'cardAlignmentLeft':(templateForm.get('cardAlignment').value === 'LEFT'),'cardAlignmentRight':(templateForm.get('cardAlignment').value === 'RIGHT')}"
                                                        *ngIf="(templateForm.get('templateType').value === 'rich_card')">

                                                        <div class="image-horizontal" *ngIf="(templateForm.get('cardAlignment').value === 'LEFT')">
                                                            <div class="devic-img"> 
                                                                <img [src]="fileName" *ngIf="fileName && !fileSizeError">
                                                            </div>
                                                            <div class="device-desc">
                                                                <h5>{{ templateForm.get('cardtitle').value }}</h5>
                                                                <p class="messageContent">{{
                                                                    templateForm.get('cardDescription').value
                                                                    }}
                                                                </p>
                                                                <div formArrayName="suggestions"
                                                                    *ngFor="let item of templateForm.get('suggestions')['controls']; let i = index;">
                                                                    <div [formGroupName]="i">
                                                                        <div
                                                                            *ngIf="templateForm.get('suggestions').value[i]['suggestionType'] == 'url_action'">
                                                                            <a class="action-icon"
                                                                                href="{{templateForm.get('suggestions').value[i]['url']}}"><i
                                                                                    class="fa fa-globe"></i>
                                                                                {{templateForm.get('suggestions').value[i]['displayText']}}</a>
                                                                        </div>
                                                                        <div
                                                                            *ngIf="templateForm.get('suggestions').value[i]['suggestionType'] == 'dialer_action'">
                                                                            <a class="action-icon"
                                                                                href="{{templateForm.get('suggestions').value[i]['phoneNumber']}}"><i
                                                                                    class="fa fa-globe"></i>
                                                                                {{templateForm.get('suggestions').value[i]['displayText']}}</a>
                                                                        </div>
                                                                        <div
                                                                            *ngIf="templateForm.get('suggestions').value[i]['suggestionType'] == 'reply'">
                                                                            <a href="#" class="action-icon"><i
                                                                                    class="fa fa-globe"></i>
                                                                                {{templateForm.get('suggestions').value[i]['displayText']}}</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="image-horizontal" *ngIf="(templateForm.get('cardAlignment').value === 'RIGHT')">
                                                           
                                                            <div class="device-desc">
                                                                <h5>{{ templateForm.get('cardtitle').value }}</h5>
                                                                <p class="messageContent">{{
                                                                    templateForm.get('cardDescription').value
                                                                    }}
                                                                </p>
                                                                <div formArrayName="suggestions"
                                                                    *ngFor="let item of templateForm.get('suggestions')['controls']; let i = index;">
                                                                    <div [formGroupName]="i">
                                                                        <div
                                                                            *ngIf="templateForm.get('suggestions').value[i]['suggestionType'] == 'url_action'">
                                                                            <a class="action-icon"
                                                                                href="{{templateForm.get('suggestions').value[i]['url']}}"><i
                                                                                    class="fa fa-globe"></i>
                                                                                {{templateForm.get('suggestions').value[i]['displayText']}}</a>
                                                                        </div>
                                                                        <div
                                                                            *ngIf="templateForm.get('suggestions').value[i]['suggestionType'] == 'dialer_action'">
                                                                            <a class="action-icon"
                                                                                href="{{templateForm.get('suggestions').value[i]['phoneNumber']}}"><i
                                                                                    class="fa fa-globe"></i>
                                                                                {{templateForm.get('suggestions').value[i]['displayText']}}</a>
                                                                        </div>
                                                                        <div
                                                                            *ngIf="templateForm.get('suggestions').value[i]['suggestionType'] == 'reply'">
                                                                            <a href="#" class="action-icon"><i
                                                                                    class="fa fa-globe"></i>
                                                                                {{templateForm.get('suggestions').value[i]['displayText']}}</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="devic-img"> 
                                                                <img [src]="fileName" *ngIf="fileName && !fileSizeError">
                                                            </div>
                                                        </div>





                                                    </div>
                                                    <div id="carousel-div"
                                                        *ngIf="templateForm.get('templateType').value === 'carousel'">
                                                        <div id="myCarousel" class="carousel slide"
                                                            data-ride="carousel">

                                                            <!-- Slides -->
                                                            <div class="carousel-inner">
                                                                <div formArrayName="cardDetails" class="carousel-item"
                                                                    *ngFor="let item of templateForm.get('cardDetails')['controls']; let i = index;"
                                                                    [ngClass]="(i === 0) ? 'active' : ''">
                                                                    <div [formGroupName]="i">
                                                                        <img [src]="item.get('fileName').value"
                                                                            *ngIf="item.get('fileName').value && !fileSizeError">
                                                                        <h5>{{templateForm.get('cardDetails').value[i]['cardtitle']}}
                                                                        </h5>
                                                                        <p class="messageContent">
                                                                            {{templateForm.get('cardDetails').value[i]['cardDescription']}}
                                                                        </p>
                                                                        <div
                                                                            *ngIf="templateForm.get('suggestions').value.length > 0">
                                                                            <div
                                                                                *ngFor="let item1 of templateForm.get('suggestions').value; let j = index;">
                                                                                <!-- <div [formGroupName]="j"> -->
                                                                                <div
                                                                                    *ngIf="item1['suggestionType'] == 'url_action'">
                                                                                    <a href="{{item1['url']}}"><i
                                                                                            class="fa fa-globe"></i>
                                                                                        {{item1['displayText']}}</a>
                                                                                </div>
                                                                                <div
                                                                                    *ngIf="item1['suggestionType'] == 'dialer_action'">
                                                                                    <a class="action-icon"
                                                                                        href="{{item1['phoneNumber']}}">
                                                                                        <i class="fa fa-globe"></i>
                                                                                        {{item1['displayText']}}</a>
                                                                                </div>
                                                                                <div
                                                                                    *ngIf="item1['suggestionType'] == 'reply'">
                                                                                    <a href="#" class="action-icon"><i
                                                                                            class="fa fa-globe"></i>
                                                                                        {{item1['displayText']}}</a>
                                                                                </div>
                                                                                <!-- </div> -->
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- Left and right controls -->
                                                            <a class="carousel-control-prev" href="#myCarousel"
                                                                data-slide="prev">
                                                                <i class="fa fa-chevron-left"></i>
                                                            </a>
                                                            <a class="carousel-control-next" href="#myCarousel"
                                                                data-slide="next">
                                                                <i class="fa fa-chevron-right"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div id="text-message-div" class="rich-card-section"
                                                        *ngIf="templateForm.get('templateType').value === 'text_message'">
                                                        <p class="messageContent">{{
                                                            templateForm.get('messageContent').value
                                                            }}
                                                        </p>
                                                        <a href="#"><i class="fa fa-globe"></i> Suggestion Text</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-tab>
                                    <mat-tab label="Business Info">
                                        <div class="devicePreview">
                                            <div class="contents">
                                                <div class="headingSection">
                                                    <div><i class="fa fa-arrow-left"></i>&nbsp; Fonada</div>
                                                    <div>
                                                        <i class="fa fa-shield"></i>&nbsp;
                                                        <i class="fa fa-ellipsis-v"></i>
                                                    </div>
                                                </div>
                                                <div class="profile-section">
                                                    <img src="assets/logo.svg">
                                                    <div class="description-row">
                                                        <h5>Fonada</h5>
                                                        <p>At Fonada, we understand that each organization is unique, as
                                                            well as its challenges.</p>
                                                    </div>
                                                </div>

                                                <div class="action-row">
                                                    <a href="tel:+919313571554">
                                                        <div class="call">
                                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                                            <p>Call</p>
                                                        </div>
                                                    </a><a href="https://fonada.com" target="_blank">
                                                        <div class="website"><i class="fa fa-globe"
                                                                aria-hidden="true"></i>
                                                            <p>Website</p>
                                                        </div>
                                                    </a><a href="mailto:info@fonada.com">
                                                        <div class="email"><i class="fa fa-envelope"
                                                                aria-hidden="true"></i>
                                                            <p>Email</p>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="tab-section-row">
                                                    <mat-tab-group>
                                                        <mat-tab label="Info">
                                                            <div class="contact-details">
                                                                <a class="email" href="tel:+919313571554">
                                                                    <i class="fa fa-phone"></i>
                                                                    <div class="call-details">
                                                                        <p>+919313571554</p>
                                                                        <span>ravindra 93</span>
                                                                    </div>
                                                                </a>
                                                                <a class="email" href="https://fonada.com"
                                                                    target="__blank"><i class="fa fa-globe"
                                                                        aria-hidden="true"></i>
                                                                    <div class="call-details">
                                                                        <p>https://fonada.com</p>
                                                                        <span>fonada website</span>
                                                                    </div>
                                                                </a>
                                                                <a class="email" href="mailto:info@fonada.com">
                                                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                                                    <div class="call-details bdr-bt-none-template">
                                                                        <p>info@fonada.com</p>
                                                                        <span>infi email</span>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </mat-tab>
                                                        <mat-tab label="Options">
                                                            <ul class="option-details">
                                                                <li>Notification</li>
                                                                <li>Block & report spam</li>
                                                                <li>View Privacy Policy</li>
                                                                <li>View Terms of Services</li>
                                                                <li>Learn more</li>
                                                            </ul>
                                                        </mat-tab>
                                                    </mat-tab-group>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-tab>
                                </mat-tab-group>


                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="row spacing">
            <div class="col-sm-7">
                <h3>Suggested Actions/Reply Buttons <i class="fa fa-info-circle"></i></h3>
            </div>
            <div class="col-sm-5">
                <button type="button" class="btn btn-secondary pull-right" (click)="addRow()">+ Add Suggestion</button>
            </div>
        </div>
        <hr>
        <div class="alert alert-secondary text-center" role="alert"
            *ngIf="templateForm.value['suggestions'].length == 0">
            <h4>There are no suggested actions yet.</h4>
        </div>

        <div class="suggestion-container" formArrayName="suggestions"
            *ngFor="let item of templateForm.get('suggestions')['controls']; let i = index;">
            <div [formGroupName]="i">
                <div class="card bg-light text-dark">
                    <div class="card-body">
                        <div class="addSuggestionSection">
                            <div class="form-group">
                                <label>Type of Action</label>
                                <select class="form-control" formControlName="suggestionType">
                                    <option *ngFor="let item of suggestionActionValue" [value]="item.key">{{item.value}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Suggestion Text</label>
                                <input type="text" class="form-control" formControlName="displayText"
                                    (keyup)="displayVariables($event, 'displayTextCustomParam', 3, i)">
                                <div class="countAndVariable">
                                    <small class="text-light-gray">0/25 characters used</small>
                                    <small>Add your custom variable like this <span
                                            class="variableName">variableName</span>.</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Suggestion Postback</label>
                                <input type="text" class="form-control" formControlName="postback"
                                    (keyup)="displayVariables($event, 'postbackCustomParam', 3, i)">
                                <div class="countAndVariable">
                                    <small class="text-light-gray">0/120 characters used</small>
                                    <small>Add your custom variable like this <span
                                            class="variableName">variableName</span>.</small>
                                </div>
                            </div>
                            <div class="form-group form-input"
                                *ngIf="templateForm.get('suggestions').value[i]['suggestionType'] === 'url_action'">
                                <label>URL/URI to open</label>
                                <input type="text" class="form-control" maxlength="2048" formControlName="url"
                                    (keyup)="displayVariables($event, 'urlCustomParam', 3, i)">
                                <small class="text-light-gray">0/2048 characters used</small>
                                <small>Add your custom variable like this <span
                                        class="variableName">variableName</span>.</small>
                            </div>

                            <div class="form-group form-input"
                                *ngIf="templateForm.get('suggestions').value[i]['suggestionType'] === 'dialer_action'">
                                <label>Phone Number to Dial</label>
                                <input type="text" class="form-control" maxlength="10" formControlName="phoneNumber">
                            </div>

                            <div>
                                <div class="add-remove-section">
                                    <!-- <button mat-mini-fab color="primary">
                                    <mat-icon>add</mat-icon>
                                </button> -->
                                    <button matTooltip="Remove Suggestion" mat-mini-fab color="warn"
                                        (click)="removeRow(i)">
                                        <mat-icon>remove</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="text-center">
            <button type="button" class="btn btn-outline-secondary" (click)="onCancel()">Cancel</button>&nbsp;
            <button type="submit" id="smbtbtn" class="btn btn-success" (click)="onSubmit()">Submit</button>
        </div>
        <br>
    </form>
</div>