<div class="auth-bg min-vh-100 d-flex flex-column">

    <div class="container p-0">

        <div class="row flex-fill d-flex justify-content-start">
            <div class="d-none d-md-block col-md-6">
                <div class="p-40-20 image-container">
                    <img [src]="authlogo" alt="AuthLogo" style="width: 280px ;margin-top: -10px">
                    <img [src]="authImg" alt="AuthImg" class="img-fluid">
                </div>
            </div>

            <div class="col-12 col-md-6">
                <br><br>
                <div class="auth-section ms-auto ng-star-inserted">
                    <form novalidate="" class="ng-pristine ng-invalid ng-touched" [formGroup]="loginForm"
                        (ngSubmit)="onSubmit()">
                        <h1 class="heading ml-2">Welcome To RCS</h1>
                        <p class="sub-heading mb-4 ml-3">Please enter your login credentials</p>

                        <div class="row">

                            <div class="col-12">
                                <div class="col-12"><label class="form-label">Enter Username</label>
                                    <div class="input-group mb-3"><span class="input-group-text">
                                            <i aria-hidden="true" class="fa fa-user"></i>
                                        </span>
                                        <input type="text" maxlength="30" formControlName="username"
                                            class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
                                            placeholder="Enter here"
                                            class="form-control ps-0 ng-pristine ng-valid ng-touched">
                                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                            {{errorMessage.require}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12"><label class="form-label">Enter Password</label>
                                    <div class="input-group mb-3"><span class="input-group-text"><i aria-hidden="true"
                                                class="fa fa-lock"></i></span><input type="password"
                                            formControlName="password" minlength="5" maxlength="30" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                                            placeholder="Enter here"
                                            class="form-control ps-0 ng-pristine ng-valid ng-touched">
                                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                            {{errorMessage.require}}
                                        </div>
                                    </div>
                                    <a routerLink="/forgot/password" style="margin-left: 60%;">Forgot Password ?</a>
                                </div>
                                <br>
                                <div class="col-12"><button type="submit" class="w-100 shadow">
                                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                        LOGIN &nbsp; <i class="fa fa-arrow-right" style="color: white;"></i></button>

                                    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                                </div>
                                <div class="col-12 my-3 text-center"><span class="sub-heading">
                                    </span>
                                </div>

                                <br>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <!-- <br><br><br><br>
    <p style="margin-left: 20%;">© The website will make use of cookies. By submitting this form, you agree to the privacy policy and cookie policy of this website.</p> -->
</div>

<app-footer></app-footer>