.filter-section,
.date-range-section {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.date-range-section {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;

    mat-form-field {
        margin-right: 20px;
    }
}

.horizontal-scroll-table {
    overflow-x: auto;
    display: block;
    white-space: nowrap;
}


mat-form-field{
    width: 100%;
}



td{
    white-space: normal;
    word-wrap: break-word;
    max-width: 450px;
}

th{
 
 white-space: inherit;

}

.example-container {
    height: 350px;
    max-width: 100%;
    overflow: auto;
  }