<div class="container-fluid h-100">

    <div class="row">
        <div class="col-sm-3">
            <app-navigation></app-navigation>
        </div>


        <div class="col-sm-4 mx-auto">
            <br><br>
            <h5 class="text-center">UPLOAD FILE HERE ! </h5>
            <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">

                <div class="card bg-light text-dark">
                    <div class="card-body">

                        <br>
                        <input class="formcss" type="file" formControlName="file" id="filesizecheck" accept=".csv "
                            (change)="onChange($event)">
                        <br>
                        <h4 style="text-align: center; color: red; font-size: smaller;  margin-left: 130px;">
                            Only CSV files are accepted**</h4>
                        <br>
                        <div class="toggleRow">
                            <div class="custom-control custom-switch">
                                <input formControlName="dnd" type="checkbox" [(ngModel)]="switchState"
                                    class="custom-control-input" id="customSwitch1">
                                <label class="custom-control-label" for="customSwitch1">Enable DND</label>
                                <div *ngIf="switchState">
                                    <!-- Switch is ON -->
                                </div>
                                <div *ngIf="!switchState">
                                    <!-- Switch is OFF -->
                                </div>


                            </div>
                            <div class="custom-control custom-switch">
                                <input formControlName="dupliacteNo." type="checkbox" class="custom-control-input"
                                    id="customSwitch2">
                                <label class="custom-control-label" for="customSwitch2">Remove Duplicate No.</label>
                            </div>
                        </div>

                        <div class="button">
                            <button class="btn btn-success" type="submit" (click)="onUpload()" id="smbtbtn"
                                data-toggle="modal" data-target="#exampleModal">Upload</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>

        <div class="col-sm-5">
            <br><br>
            <h5 class="text-center">UPLOADED DATA</h5>

            <div class="card bg-light text-dark">
                <div class="card-body">

                    <table class="table table-striped">
                        <tbody>
                            <tr style="background-color: #888; color:#f8f9fa;">
                                <td>S. No.</td>
                                <td>Phone Number</td>
                                <td>Status</td>
                            </tr>
                        </tbody>
                        <tbody id="jar">
                            <tr class="content">
                                <td><a class="checkdata" id="NO DATA">NO DATA</a><span class="popdsn" id="subNO DATA">
                                        <div class="text-center"><button type="button"
                                                class="btn btn-success btn-sm closepopup" id="cls_NO DATA">X</button>
                                        </div>
                                        <pre class="prewrap">NO DATA</pre>
                                    </span></td>
                                <td>NO DATA</td>
                                <td>NO DATA</td>
                            </tr>
                        </tbody>
                    </table>

                    <nav>
                        <ul class="pagination justify-content-center pagination-sm">
                            <li class="page-item" id="previous-page"><a class="page-link"
                                    href="javascript:void(0)">Prev</a>
                            </li>
                            <li class="page-item current-page active"><a class="page-link"
                                    href="javascript:void(0)">1</a>
                            </li>
                            <li class="page-item" id="next-page"><a class="page-link" href="javascript:void(0)">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>