mat-form-field {
    width: 100%;
  }
.filter-section,
.date-range-section {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.date-range-section {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;

    mat-form-field {
        margin-right: 20px;
    }
}

.horizontal-scroll-table {
    overflow-x: auto;
    display: block;
    white-space: nowrap;
}

