<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="currentUser">
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="tel:7479574795"><i class="fa fa-phone"></i> 7479574795</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="mailto:info@fonada.com"><i class="fa fa-envelope"></i> info@fonada.com</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
         <button class="btn btn-outline-success btn-sm my-2 my-sm-0" (click)="logout()">Logout</button>
    </form>
  </div>
</nav>

<!-- <div class="container-fluid h-100">
  <div class="row">
    <div class="col-sm-3">
      <app-navigation></app-navigation>
    </div>
    <div class="col-sm-9">
      <app-xiaomircs></app-xiaomircs>
    </div>
  </div>
</div> -->



<!-- main app container -->

<router-outlet></router-outlet>