<app-menu></app-menu> 
<div class="go-back-section template-back">
  <div class="back-icon">
    <!-- <mat-icon matTooltip="Back" (click)="goBack()">arrow_back</mat-icon> -->
    <h5 class="text-center">USER LIST</h5>
  </div>
  <button type="button" class="btn btn-info btn-lg" routerLink="/addUser">+ Add
    User</button>

    
</div>
<br>

<div class="container-fluid h-100">

  <div class="row">
    <!-- <div class="col-sm-3">
            <app-navigation></app-navigation>
        </div> -->
    <div class="col-sm-12">
      <form [formGroup]="userListForm">
        <div class="card bg-light text-dark">
          <div class="card-body bottom-space">
            <div class="filter-section">
              <div class="date-range-section">
                <mat-form-field appearance="outline">
                  <mat-label>Select a date range</mat-label>
                  <mat-date-range-input [rangePicker]="picker">
                    <input ng-disabled="true" readonly="true" matStartDate placeholder="Start date"
                      formControlName="startDate" required>
                    <input ng-disabled="true" readonly="true" matEndDate placeholder="End date"
                      formControlName="endDate" required>
                  </mat-date-range-input>
               
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>

                <button type="button" class="btn btn-success btn-lg" (click)="getUserList()"
                  [disabled]="userListForm.status === 'INVALID'">Search</button>
              </div>

              <button *ngIf="dataSource['data']['length'] > 0" [ngClass]="{'my_class': userId ==='1'}"  title="Export to Excel" class="btn btn-success download"
                [disabled]="userListForm.status === 'INVALID'" (click)="exportExcel()">Export
                &nbsp;<mat-icon>download</mat-icon></button>
            </div>
            <div>
            </div>
          </div>
        </div>
      </form>

      <app-loader *ngIf="showLoader"></app-loader>

      <div class="card bg-light text-dark" style="margin-top: 50px;">
        <!-- <div use *ngIf="" for table condition  ></div> -->
        <div class="card-body">

          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort class="horizontal-scroll-table">
              <!-- SLNo Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> SL No. </th>
                <td mat-cell *matCellDef="let row; let i = index;"> {{(paginatorRef.pageIndex *
                  paginatorRef.pageSize) + (i + 1)}} </td>
              </ng-container>

              <ng-container matColumnDef="bannerWithLogo">
                <th mat-header-cell *matHeaderCellDef>Company Logo </th>
                <td mat-cell *matCellDef="let row">
                  <div class="banner-logo-container">
                    <ng-container *ngIf="row.companyLogo">
                      <img class="logo" [src]="decodeBase64ToImage(row.companyLogo)" width="50" height="50">
                    </ng-container>
                    <ng-container *ngIf="!row.companyLogo">
                      <!-- Display a blank column or any other content you want when there is no logo available -->
                    </ng-container>
                  </div>
                </td>
              </ng-container>
              

              <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name</th>
                <td mat-cell *matCellDef="let row">{{row.firstName}}</td>
              </ng-container>

              <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
                <td mat-cell *matCellDef="let row">{{row.lastName}}</td>
              </ng-container>

              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> E-mail</th>
                <td mat-cell *matCellDef="let row">{{row.email}}</td>
              </ng-container>

              <ng-container matColumnDef="phoneNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number</th>
                <td mat-cell *matCellDef="let row">{{row.phone}}</td>
              </ng-container>

              <ng-container matColumnDef="userName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Username</th>
                <td mat-cell *matCellDef="let row">{{row.userName}}</td>
              </ng-container>

              <ng-container matColumnDef="parentUser">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Parent User</th>
                <td mat-cell *matCellDef="let row">Admin</td>
              </ng-container>

              <ng-container matColumnDef="botId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>BotId</th>
                <td mat-cell *matCellDef="let row">{{row.botId}}</td>
              </ng-container>

              <ng-container matColumnDef="botToken">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Bot Token</th>
                <td mat-cell *matCellDef="let row">{{row.botToken}}</td>
              </ng-container>

              <ng-container matColumnDef="companyName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Company Name</th>
                <td mat-cell *matCellDef="let row">{{row.companyName}}</td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let USER">
                  <div class="button-row">
                    <button mat-icon-button matTooltip="Edit" color="primary" (click)="editRow(USER.userId)">
                      <mat-icon>edit</mat-icon>
                    </button>

                    <button mat-icon-button matTooltip="Delete" color="warn" (click)="deleteRow(USER.userId)">
                      <mat-icon>delete</mat-icon>
                    </button>

                    <button [matTooltip]="USER.active === 'Y' ? 'Click to Deactivate' : 'Click to Activate'" 
                    [matTooltipPosition]="'above'"
                    [ngClass]="USER.active == 'Y' ? 'active-button' : 'inactive-button'"
                    [matTooltipShowDelay]="500" 
                    [matTooltipHideDelay]="100" 
                    [matTooltipClass]="USER.active === 'Y' ? 'deactivate-tooltip' : 'activate-tooltip'"
                  class="btn btn"
                    (click)="toggleUserStatus(USER)">
                    {{ USER.active === 'Y' ? 'Active' : 'Inactive' }}
                  </button>
                  

                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <div class="records-not-found" *ngIf="dataSource['data']['length'] === 0">No Records Found</div>
            <mat-paginator #paginatorRef [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="body-spacing"></div>