

mat-form-field {
    width: 100%;
  }

  .filter-section, .date-range-section{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.date-range-section{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;

    mat-form-field{
        margin-right: 20px;
    }
}

.horizontal-scroll-table {
    overflow-x: auto;
    white-space: nowrap;
    display: block;
  }  

//   .mdc-data-table__cell{
//     white-space: normal;
//     word-break: break-word;
// }
.action-list{
  display: flex;
  align-items: center;
}

.status-completed {
  color: #008000;
  font-weight: 500;
}

.status-acitve {
  color: #673ab7;
  font-weight: 500;
}

