<div class="container-fluid h-100">

    <div class="row">
        <!-- <div class="col-sm-3">
        <app-navigation></app-navigation>
      </div> -->

        <div class="col-sm-12">
            <br><br>
            <div class="go-back-section template-back">
                <div class="back-icon">
                    <mat-icon matTooltip="Back" (click)="goBack()">arrow_back</mat-icon>
                    <h5 class="text-center">TEMPLATE LIST</h5>
                </div>
                <button type="button" class="btn btn-info btn-lg" routerLink="/addTemplate">+ Add
                    Template</button>
            </div>
            <!-- <form [formGroup]="campaignListForm">
  
          <div class="card bg-light text-dark">
  
  
  
            <div class="card-body">
  
              <div class="filter-section">
                <div class="date-range-section">
                  <mat-form-field appearance="fill">
                    <mat-label>Enter a date range</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                      <input ng-disabled="true" readonly="true" matStartDate placeholder="Start date"
                        formControlName="startDate">
                      <input ng-disabled="true" readonly="true" matEndDate placeholder="End date"
                        formControlName="endDate">
                    </mat-date-range-input>
                    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                  </mat-form-field>
                  <button type="button" class="btn btn-success btn-lg" (click)="getCampaignList()">Search</button>
                </div>
                <button type="button" class="btn btn-info btn-lg" routerLink="/addTemplate">+ Add
                  Template</button>
              </div>
  
              <div>
  
              </div>
  
            </div>
          </div>
        </form> -->

            <app-loader *ngIf="showLoader"></app-loader>

            <div class="card bg-light text-dark" style="margin-top: 30px;">
                <!-- <div use *ngIf="create_campaign"  ></div> -->
                <div class="card-body">
                    <!-- <mat-form-field>
              <mat-label>Filter</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Campaign Name" #input>
            </mat-form-field> -->
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource" matSort class="horizontal-scroll-table">
                            <!-- SLNo Column -->
                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> SL No. </th>
                                <td mat-cell *matCellDef="let row; let i = index;"> {{(paginatorRef.pageIndex *
                                    paginatorRef.pageSize) + (i + 1)}} </td>
                            </ng-container>
                            <!-- User ID Column -->
                            <!-- <ng-container matColumnDef="campaignId">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Campaign ID </th>
                  <td mat-cell *matCellDef="let row"> {{row.campaignId}} </td>
                </ng-container> -->
                            <!-- campaignName -->
                            <ng-container matColumnDef="campaignName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Campaign Name </th>
                                <td mat-cell *matCellDef="let row">{{row.campaignName}}</td>
                            </ng-container>

                            <!-- description -->
                            <ng-container matColumnDef="description">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Description</th>
                                <td mat-cell *matCellDef="let row">{{row.description}}</td>
                            </ng-container>

                            <!-- textMessage -->
                            <ng-container matColumnDef="messageJson">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> MSG Template</th>
                                <td mat-cell *matCellDef="let row">{{row.messageJson}}</td>
                            </ng-container>

                            <!-- campaignStartTime -->
                            <ng-container matColumnDef="campaignStartTime">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Campaign Start Date</th>
                                <td mat-cell *matCellDef="let row">
                                    {{moment(row.campaignStartTime).format('MM/DD/YYYY')}}</td>
                            </ng-container>

                            <!-- campaignEndTime -->
                            <ng-container matColumnDef="campaignEndTime">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Campaign End Date</th>
                                <td mat-cell *matCellDef="let row">{{moment(row.campaignEndTime).format('MM/DD/YYYY')}}
                                </td>
                            </ng-container>

                            <!-- messageType -->
                            <ng-container matColumnDef="usageType">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Message Type</th>
                                <td mat-cell *matCellDef="let row">{{row.usageType}}</td>
                            </ng-container>

                            <!-- Actions -->
                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef>Actions</th>
                                <td mat-cell *matCellDef="let data">
                                    <button mat-icon-button matTooltip="Edit" color="primary"
                                        (click)="editRow(data.campaignId)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-icon-button matTooltip="Delete" color="warn"
                                        (click)="deleteRow(data.campaignId)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </ng-container>


                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


                        </table>
                        <div class="records-not-found" *ngIf="dataSource['data']['length'] === 0">No records found</div>

                        <mat-paginator #paginatorRef [pageSizeOptions]="[5, 10, 25, 100]"
                            aria-label="Select page of users"></mat-paginator>
                    </div>

                </div>
            </div>
        </div>
    </div>