<div class="container-fluid h-100">

    <div class="row">
        <div class="col-sm-3">
            <app-navigation></app-navigation>
        </div>

        <div class="col-sm-9"><br><br>
            <div class="go-back-section">
                <mat-icon matTooltip="Back" (click)="goBack()">arrow_back</mat-icon>
                <h5 class="text-center">TEMPLATE</h5>
            </div>
            <div class="card bg-light text-dark">
                <div class="card-body">

                    <form [formGroup]="templateForm">

                        <div class="row">
                            <div class="col-sm-4">
                                <mat-form-field appearance="outline">
                                    <mat-label>Template Code</mat-label>
                                    <input matInput autocomplete="off" placeholder="Template Code"
                                        formControlName="templateCode" />
                                </mat-form-field>
                            </div>

                            <div class="col-sm-4">
                                <mat-form-field appearance="outline">
                                    <mat-label>Template Type</mat-label>
                                    <mat-select [(value)]="selected" placeholder="Select One"
                                        formControlName="templateType" (selectionChange)="tempSelection()">
                                        <mat-option value="StaticJson">Static</mat-option>
                                        <mat-option value="DynamicJson">Dynamic</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>


                            <div class="col-sm-4">
                                <mat-form-field appearance="outline">
                                    <mat-label>Template JSON</mat-label>
                                    <input matInput autocomplete="off" placeholder="Template JSON"
                                        formControlName="templateJson" [value]="selected">
                                </mat-form-field>
                            </div>

                        </div>


                        <div formArrayName="items" *ngFor="let item of templateForm.get('items')['controls']; let i = index;">
                            <div [formGroupName]="i">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Date</mat-label>
                                            <input matInput [matDatepicker]="picker" placeholder="Select a date"
                                                formControlName="date">
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Amount</mat-label>
                                            <input matInput autocomplete="off" placeholder="Amount"
                                                formControlName="amount" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="add-remove-section">
                                            <button mat-mini-fab color="primary" (click)="addRow()"
                                                >
                                                <mat-icon>add</mat-icon>
                                            </button>
                                            <button mat-mini-fab color="warn" (click)="removeRow(i)"
                                                >
                                                <mat-icon>remove</mat-icon>
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">

                            <!-- Render rows dynamically -->
                            <ng-container *ngFor="let row of rows; let i = index">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Date</mat-label>
                                            <input matInput [matDatepicker]="picker" placeholder="Select a date"
                                                formControlName="date">
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Amount</mat-label>
                                            <input matInput autocomplete="off" placeholder="Amount"
                                                formControlName="amount" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="add-remove-section">
                                            <button mat-mini-fab color="primary" (click)="addRow()"
                                                [disabled]="rows.length >= 9">
                                                <mat-icon>add</mat-icon>
                                            </button>
                                            <button mat-mini-fab color="warn" (click)="removeRow(i)"
                                                [disabled]="rows.length === 0">
                                                <mat-icon>remove</mat-icon>
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </ng-container>

                        </div>


                        <div class="row">
                            <br><br>
                            <div class="col-sm-12 text-center mt-3 submit-button">
                                <button class="btn btn-success" type="submit" id="smbtbtn" (click)="onSubmit()"
                                    [disabled]="templateForm.status === 'INVALID'">{{actionBtn}}</button>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>