.card-body {
   overflow: auto;
   max-height: 500px;
}
 .submit-button button {
    width: 234px;
    height: 56px;
    cursor: not-allowed
 }
 
 .mt-5,
 .my-5 {
    margin-top: 9rem !important;
 }
 
 .go-back-section {
    display: flex;
    justify-content: start;
    align-items: flex-start;
 
    .mat-icon {
       margin-top: -2px;
       margin-right: 10px;
       cursor: pointer;
    }
 }


 mat-form-field{
    width: 100%;
 }

 .add-remove-section{
   display: flex;
   justify-content: flex-start;
   align-items: center;

   button:first-child{
      margin-right: 10px;
   }
 }

 