mat-form-field {
    width: 100%;
  }
.filter-section,
.date-range-section {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.date-range-section {
    display: flex;
    // justify-content: flex-start;
    align-items: baseline;

    mat-form-field {
        margin-right: 20px;
    }
}

.horizontal-scroll-table {
    overflow-x: auto;
    // display: block;
    white-space: nowrap;
}

.mdc-data-table__cell{
    white-space: normal;
    word-break: break-word;
}

.paging{
    background-color: blue;
    color: white;
    // margin-left: 100%;
 
}
.page{
    margin-left: 88%;
}
  
.mat-mdc-slide-toggle.mat-primary {
    --mdc-switch-selected-focus-state-layer-color: #5fc29f;
    --mdc-switch-selected-handle-color: #5fc29f;
    --mdc-switch-selected-hover-state-layer-color: #5fc29f;
    --mdc-switch-selected-pressed-state-layer-color: #a7f6da;
    --mdc-switch-selected-focus-handle-color: #a7f6da;
    --mdc-switch-selected-hover-handle-color: #a7f6da;
    --mdc-switch-selected-pressed-handle-color: #a7f6da;
    --mdc-switch-selected-focus-track-color: #d2f9eb;
    --mdc-switch-selected-hover-track-color: #d2f9eb;
    --mdc-switch-selected-pressed-track-color: #d2f9eb;
    --mdc-switch-selected-track-color: #d2f9eb;
}

.active-button {
    background-color: green;
    color: white;
   height: 33px;
  
  }

  
  .inactive-button {
    background-color: red; /* Change this to the color you want for inactive state */
    color: white;
    height: 33px;
   
  }

  
//   @media (max-width: 767px) {
//     .active-button {
//         background-color: blue; /* Change the background color for mobile screens */
//         /* For Responsive Web design*/
//     }
// }



  
  
  